@{
    ViewData["Title"] = "Contact Me";
}
<h1>@ViewData["Title"]</h1>

<p>
	<ul>
		<li>Reza Pouya</li>
		<li>Email     : <a href="mailto:rpouya@hotmail.com">rpouya@hotmail.com</a> </li>
		<li>Linkedin  : <a href="https://www.linkedin.com/in/r-pouya-09a55a135/">LinkedIn Profile</a></li>
		<li>Twitter   : <a href="https://twitter.com/RezaPouya6">Twitter Profile</a></li>
		<li>GitHub    : <a href="https://github.com/RezaPouya">GitHub</a></li>
		<li>DotnetTips: <a href="https://www.dotnettips.info/user/%D8%B1%D8%B6%D8%A7%20%D9%BE%D9%88%DB%8C%D8%A7">رضا پویا</a></li>
		<li>Cellphone : <a hrefo="tel:+989383810430">09383810430</a></li>
	</ul>
</p>
